#filter {
    width: 25%;
    height: 60vh;
    position: fixed;
}

#header {
    display: flex;
    align-items: center;
    padding-left: 1.5em;
    background-color: white;
    height: 2.5em;
}

#filter-title {
    font-size: 1.1em;
    font-weight: 600;
}

#hotel-name-filter {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;
    background-color: white;
}

.hotel-name-title {
    margin-left: 0.4em;
    font-size: 1em;
    color: rgb(6, 121, 179);
    font-weight: 700;
}

#updown {
    position: absolute;
    right: 1.5em;
}

#name-filter-header {
    display: flex;
    margin-bottom: 1em;
}

#name-filter-header:hover {
    cursor: pointer;
}

#hotel-name-search {
    display: flex;
    height: 3em;
    align-items: center;
    justify-content: space-between;
}

#search-input {
    height: 2em;
    width: 60%;
}

#action-button {
    background-color: rgb(0, 54, 123);
    color: white;
    border: none;
    border-radius: 0.2em;
    height: 1.9em;
    width: 30%;
    font-size: 0.9em;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}

#all-stars {
    font-size: 0.8em;
}