#card {
    background-color: white;
    display: flex;
    padding: 0.4em;
    width: 98%;
    height: 13em;
    margin-bottom: 2em;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.49);
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.49);
}

#hotel-name {
    font-size: 1.1em;
    color: rgb(6, 121, 179);
    font-weight: 700;
}

#hotel-image {
    width: 20em;
    margin-right: 1em;
}

#hotel-general-info {
    display: flex;
    width: 75%;
    border-right-style: dashed;
    border-right-width: 1px;
    border-right-color: rgb(200, 200, 200);
}

#hotel-info {
    display: flex;
    flex-direction: column;
}

#hotel-price-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}

#price-text-info {
    font-size: 0.7em;
}

#text-container {
    flex-direction: column;
    width: 7em;
    height: auto;
    text-align: center;
}

#check-hotel-button {
    background-color: rgb(0, 54, 123);
    color: white;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border-radius: 0.2em;
    width: 65%;
    font-size: 1.2em;
    font-weight: 700;
}

#currency-container {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.price {
    color: rgb(225, 104, 0);
    font-size: 1.3em;
}

.currency {
    font-weight: 300;
}

.amount {
    font-weight: 700;
    font-size: 2.3em;
}

.icon {
    margin-right: 0.3em;
}

.icons-container {
    margin-top: 0.3em;
}
