header {
    background-color: rgb(0, 54, 123);
    min-height: 8vh;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-left: 1em;
}
