#main-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 1em;
    margin-top: 8vh;
    background-color: rgb(240, 240, 240);
}

#filter-container {
    width: 25%;
}

#cardlist-container {
    width: 73%;
    height: 100%;
}
